
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";


//Responsive Font Sizes
@import "bootstrap/vendor/rfs";
$enable-responsive-font-sizes: true;
$rfs-breakpoint: 992;


// Initialize
@import "variables";
@import "mixins";


// Core CSS
@import "reset";
@import "helpers";
@import "layouts";


// Content Blocks
@import "header";
@import "elements";
@import "footer";
@import "extras";

.demo-image-area{
    .home-page-demo-img{
        cursor: pointer;
        box-shadow: 3px 3px 20px rgba($color: #000000, $alpha: .2);
    }
}
.alert-dark{
    background: #f4f4f4;
    border-color: transparent;
}